# Node modules (they’ll be installed inside the container anyway)
node_modules/
**/node_modules/
npm-debug.log

# Environment files
.env

# OS / IDE files
.DS_Store
.vscode/

# Git-related files
.git/
.gitignore

# Postman collection not needed in image
postman/

# Frontend is not needed for this backend-only container
Frontend/
